body{
    align-items: center;
    justify-content: center;
    display: flex;

    width: 100vw;
    height: 100vh;

    background-color: #ebebeb;
}

.login-cadastro {
    height: 50%;
    width: 20%;

    background-color: #750d0d;
    color: white;

    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.campos{
    display: block;
}

.campo{
    display: block;
    width: 100%;

    height: 8%;

    margin-top: 10%;

    border-radius: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
}

.botao{
    width: 60%;
    height: 8%;

    margin-top: 20%;

    border-radius: 5px;

    border: none;
}

.email-login{
    margin: 15% 0;
}

.senha-login{
    width: 100%;

    height: 8%;

    margin-top: 0%;

    border-radius: 5px;
}

.email-login{
    width: 100%;

    height: 8%;

    margin-top: 20%;

    border-radius: 5px;
}