@import url('https://googleapis.com');


body{
    padding: 0;
    margin: 0;
    background-color: rgb(222, 224, 185);
}

a{
    text-decoration: none;
    color: rgb(222, 224, 185);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(94, 15, 15);
    color: rgb(222, 224, 185);

    outline: 4px solid rgb(44, 94, 15);
    outline-offset: 5px;
}

.titulo{
    color: black;
    
    margin-top: 5%;
    text-align: center;
}

.modificar{
    background-color: rgb(94, 15, 15);
    outline: 2px solid rgb(44, 94, 15);
    outline-offset: 5px;

    padding: 1%;
    width: 80%;

    display: flex;
    gap: 30%;
    justify-content: center;
}

main{
    display: grid;
    grid-template-columns: 100fr;
    justify-items: center;
}

.pratos{
    width: 83%;
}

.prato{
    margin-top: 2%;

    background-color: rgb(178, 180, 148);
    padding: 0.5%;

    justify-content: space-between;
    align-items: center;
    display: flex;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: rgb(94, 15, 15);
    color: rgb(222, 224, 185);

    text-align: center;
    align-items: center;

    height: 10%;
}

.formulario {
    display: none;

    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: rgb(222, 224, 185);
    padding: 30px;
    border-radius: 10px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);

    z-index: 1000;
}

.formulario form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario input,
.formulario textarea {
    padding: 8px;
    border: 0;
}

.formulario button {
    padding: 8px;
    border: 0;
    background-color: rgb(94, 15, 15);
    color: rgb(222, 224, 185);
}

.botao{
    position: absolute;
    top: 2.1%;
    left: 1%;
}